.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#")
        citybam
      .container.nav-collapse
        %ul.nav
          %li= link_to "Home", root_url
          %li= link_to "Cities", "#"
          %li= link_to "Search", "#"
          %li= link_to "Map", "#"
          %li= link_to "My Account", "#"        
        -# = render :partial => "shared/search"
