.row
  .span12
    - unless flash[:notice].blank?
      - if flash[:error]
        .alert.alert-error
          %button.close{:'data-dismiss' => "alert"}
            ×
          = flash[:notice]
      - else
        .alert.alert-success
          %button.close{:'data-dismiss' => "alert"}
            ×
          = flash[:notice]
    .hero-unit{:style => "text-align: center"}
      = content_tag :h1, :style => "color: #555;" do |t|
        == city#{content_tag :span, "bam", :style => "color: #5BB75B;"}
      %hr
        %h3.tag-line{:style => "color: #555;"}
          live city guide
        %br
      = render :partial => "launch_alerts/form"
