!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="citybam is an online interactive live city guide")
    %meta(name="keywords" content="citybam, london, live guide, guide, city guide, map")
    %meta(name="robots" content="index follow")
    %title= content_for?(:title) ? yield(:title) : "citybam - your live city guide"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    -# = render :partial => "shared/nav"
    .container
      .content
        = yield
      = render :partial => "shared/footer"
    = javascript_include_tag "application"
    = yield :scripts
